$color-primary-dark: #031634;
$color-primary-medium: #033649;
$color-primary-light: #036564;
$color-secondary-dark: #cdb380;
$color-secondary-light: #e8ddcb;

$color-text: #e8ddcb;

$margin-sides: 3rem;
