@import "../sass/typography.scss";

.recipe-page {
  background-color: black;
  height: 100%;

  .hero {
    height: 25rem;
  }

  .content {
    padding: 3rem;
    font-family: $font-roboto, serif;
    font-size: 1rem;

    h1 {
      font-size: 4rem;
      text-transform: uppercase;
      font-family: $font-oswald, sans-serif;
    }

    .badges {
      display: flex;
      margin: 0;

      .badge {
        text-transform: uppercase;
        border: 1px solid white;
        border-radius: 6px;
        margin-right: .5rem;
        padding: .2rem 1rem;
        list-style-type: none;
      }
    }
  }
}