@import "../sass/constants.scss";
@import "../sass/typography.scss";

.recipecard-container {
  background-color: $color-primary-medium;
  margin: 2rem;
  min-width: 15rem;
  width: 20rem;
  height: 25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;

  &:hover {
    box-shadow: 0 0 2rem -0.5rem $color-primary-medium;
  }

  .link {
    color: white;
    text-decoration: none;
  }

  .image {
    height: 100%;
  }

  .hoverContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    .hoverBody {
      //border: 2px solid gold;
      top: auto;
      bottom: auto;
      color: black;

      .title {
        //color: $color-secondary-dark;
        text-align: center;
        font-family: $font-oswald, sans-serif;
        font-size: 2.5rem;
        text-transform: uppercase;
      }

      .text {
        display: none;
        padding: 0 1rem;
        font-size: 1rem;
        //color: $color-text;
      }
    }

    &:hover {
      opacity: 1;
    }
  }

}